# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/allure-results/
/allure-report/
/ExcelJSUtil/
/partialScreenshot.png/
/screenshot.png/
/tests/MoreValidations.spec.js-snapshots/
/uploadFiles/
/e2e/
/eslint.config.mts/
/state.json/
/jsonReports/
/pageObjectsTS/junk1/
.env
.DS_Store
